/* general ========================= */

* {
  box-sizing: border-box;
}

body {
  background-color: #eee;
  color: #484644;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: calc(2rem + 3vw);
  letter-spacing: -0.05em;
  line-height: 1;
  margin: 0 0 0.25em 0;
  opacity: 0.5;
}

/* http://code.iamkate.com/html-and-css/fixing-browsers-broken-monospace-font-handling/ */
pre,
code,
textarea,
kbd,
samp,
tt {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* our wrapper ========================= */

.demo__root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 1rem 2rem;
}

.demo__root--virtualized {
  height: 100vh;
}
.demo__root--virtualized main {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}
.demo__root--virtualized pre {
  flex: 1 0 auto;
  padding: 0 !important;
}

.ReactVirtualized__List {
  padding: 1rem;
}

/* nav ========================= */

.demo-nav {
  padding-bottom: 2rem;
}

.demo-nav__ul {
  align-items: flex-start;
  display: block;
  font-size: calc(0.75rem + 0.75vw);
  letter-spacing: -0.02em;
  list-style: none;
  margin: 0 0 0 -0.75rem;
  padding: 0;
}

.demo-nav__li {
  display: inline-block;
  position: relative;
}

.demo-nav__li + .demo-nav__li:before {
  content: '/';
  font-size: 1.5em;
  font-weight: bold;
  left: -0.15em;
  opacity: 0.1;
  position: absolute;
  top: 0.05em;
}

.demo-nav__a {
  display: block;
  font-weight: bold;
  padding: 0.5rem 1rem;
}

.demo-nav__li--current .demo-nav__a {
  color: inherit;
  /* opacity: .75; */
  text-decoration: none;
}

/* options ========================= */

.options__container {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 1rem;
}

.options__option {
  display: flex;
  margin-left: 1rem;
}

.options__option--language {
  margin-left: 0;
  margin-right: auto;
}

.option__label {
  align-items: center;
  border: 1px solid #bbb;
  border-radius: 0.2em;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  cursor: pointer;
  display: flex;
  font-size: 0.9rem;
  padding: 0.25rem 1rem 0.25rem 0.5rem;
}

.option__checkbox {
  margin-right: 0.5rem;
  vertical-align: top;
}

/* class applies to select element itself, not a wrapper element */
.select {
  display: block;
  font-size: 0.9rem;
  padding: 0.6em 1.8em 0.5em 0.8em;
  width: 100%;
  max-width: 100%; /* useful when width is set to anything other than 100% */
  box-sizing: border-box;
  margin: 0;
  border: 1px solid #bbb;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  border-radius: 0.2em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  /* note: bg image below uses 2 urls. The first is an svg data uri for the arrow icon, and the second is the gradient.
      for the icon, if you want to change the color, be sure to use `%23` instead of `#`, since it's a url. You can also swap in a different svg icon or an external image reference

  */
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
    linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  background-repeat: no-repeat, repeat;
  /* arrow icon position (1em from the right, 50% vertical) , then gradient position*/
  background-position: right 0.7em top 50%, 0 0;
  /* icon size, then gradient */
  background-size: 0.65em auto, 100%;
}
/* Hide arrow icon in IE browsers */
.select::-ms-expand {
  display: none;
}
/* Hover style */
.select:hover {
  border-color: #888;
}
/* Focus style */
.select:focus {
  border-color: #aaa;
  /* It'd be nice to use -webkit-focus-ring-color here but it doesn't work on box-shadow */
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222;
  outline: none;
}

/* Set options to normal weight */
.select option {
  font-weight: normal;
}

/* Support for rtl text, explicit support for Arabic and Hebrew */
*[dir='rtl'] .select,
:root:lang(ar) .select,
:root:lang(iw) .select {
  background-position: left 0.7em top 50%, 0 0;
  padding: 0.6em 0.8em 0.5em 1.4em;
}

/* Disabled styles */
.select:disabled,
.select[aria-disabled='true'] {
  color: graytext;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22graytext%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
    linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
}

.select:disabled:hover,
.select[aria-disabled='true'] {
  border-color: #aaa;
}

/* examples ========================= */

.example__container {
  display: flex;
  flex: 1 0 auto;
}

.example__container > * {
  flex: 1 0 auto;
  margin: 0;
  width: 50%;
}

.textarea__wrapper {
  display: flex;
  padding: 1rem 1rem 1rem 0;
}

textarea {
  flex: 1 0 auto;
  padding: 1rem;
  resize: vertical;
}

pre {
  border: 1px solid #bbb;
  box-shadow: 0 5px 50px rgba(30, 20, 10, 0.1);
  margin: 0 !important; /* some themes try to override this */
}

/* github link ========================= */
.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}
